
{%extends 'base.html'%}


{%block body%}
<style>
    .img-fluid{
        border-radius: 1000px;
        height: 100px;
        width: 100px;
        
    }
</style>
<div class="container col-sm-8 offset-sm-2">
    <div class="display-2">Profile Details</div>
    <hr>
    <div class="jumbotron text-dark">
        
        <h1><strong>{{myprofile.name}}</strong><img class="img-fluid" src="/media/{{myprofile.profile_pic}}"></h1>
        {{myprofile.description}}<hr>
        <p><strong>Age:-</strong> {{myprofile.age}}</p>
        <p><strong>Sex:-</strong> {{myprofile.gender}}</p>
        <p><strong>Address:-</strong>{{myprofile.address}}</p>
        <p><strong>Status:-</strong>{{myprofile.status}}</p>
        <p><strong>Phone:-</strong>{{myprofile.phone}}</p>
        <p><strong>Bio:-</strong>{{myprofile.description}}</p>
       
        <a class="btn btn-primary my-2" href="/fb/myprofile/">Back</a>
        {% if user.is_authenticated %}
        <a class="btn btn-danger my-2" href="/fb/myprofile/delete/{{myprofile.id}}/"><i class="fa fa-trash" aria-hidden="true"></i></a>
        {% endif %}
    </div>
</div>
{%endblock body%}